@media (min-width: 768px) {
    .main-header .logo {
        width: 190px;
    }

    .main-header .navbar {
        margin-left: 190px;
    }

    .main-sidebar {
        width: 190px;
    }

    .content-wrapper,
    .main-footer {
        margin-left: 190px;

    }
}
