.box_right_user .box-edit-user-profile .input-group {
    padding: 15px 0;
    border-top: #f3f3f3 solid 1px;
    float: left;
    width: 878px;
}

.box_right_user .box-edit-user-profile .input-group label {
    display: inline-block;
    width: 170px;
    /* float: left; */
    text-align: right;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 0px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.list_song_in_album {
    position: relative;
    height: 486px;
    border: #dbdbdb solid 1px;
}

ul.list_song_in_album {
    width: 838px;
    float: left;
    border: #dbdbdb solid 1px;
    margin-top: 0px;
    position: relative;
    height: 486px;
}

ul.list_song_in_album li {
    width: 100%;
    float: left;
    height: 36px;
    line-height: 36px;
    display: block;
    border-bottom: #ececec solid 1px;
}
.clr {
    clear: both;
}
ul.list_song_in_album li span.nunberit {
    height: 31px;
    text-align: center;
    font-size: 14px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

ul.list_song_in_album li .item_content {
    font-size: 14px;
    float: left;
    float: left;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
}

#idScrllSongInAlbumEditPlaylist .button_select {
    display: block;
    float: right;
    margin: 0px 10px 0px 0px;
    color: #0689ba;
}




