.z-btn-features .hover-view-z li a i {
    font-size: 14px;
}

.z-body-area .nav-item-li .hover-view-z {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.z-body-area .nav-item-li .hover-view-z>a {
    display: inline-block;
    padding: 0 5px;
    color: #b3b3b3;
}

.z-body-area .nav-item-li .hover-view-z>a.action {
    /* font-size: 24px; */
    margin-right: 10px;
}

.hover-view-z {
    cursor: pointer;
}

.z-body-area #plList>li .z-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background: #232323;
    border-radius: 3px;
    z-index: 99;
    display: none;
}

.z-body-area #plList>li .z-dropdown .dropdown-item {
    min-width: 220px;
}

.z-body-area #plList>li .z-dropdown .dropdown-item a {
    padding: 10px 15px;
    display: block;
    position: relative;
}

.z-body-area #plList>li .z-dropdown .dropdown-item a i {
    margin-right: 16px;
    display: inline-block;
    font-size: 16px;
}

.z-body-area #plList>li .z-dropdown .dropdown-item a i.fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.z-body-area #plList {
    display: block;
}


.ava-song {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    position: relative;
    /* transform: translateY(-20%); */
}

.ava-song i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
}

.plSel .ava-song .opa-z {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(72, 72, 72, .7);
}

.plSel .ava-song .icon {
    background-image: url('../img/icon_playing_purple.gif');
}


.z-checkbox.appear .z-checkmark {
    display: block !important;
    transform: translateY(-50%) !important;
    top: 50% !important;
    left: 7px;
}

.plSel .ava-song .opa-z {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(72, 72, 72, .7);
}

.ava-song img {
    width: 100%;
    height: 100%;
}


/* suggest */
/*plListSearch */

.z-body-area #plListS>li .z-dropdown,
.z-body-area #plListSearch>li .z-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background: #232323;
    border-radius: 3px;
    z-index: 99;
    display: none;
}

.z-body-area #plListS>li .z-dropdown .dropdown-item,
.z-body-area #plListSearch>li .z-dropdown .dropdown-item {
    min-width: 220px;
}

.z-body-area #plListS>li .z-dropdown .dropdown-item a,
.z-body-area #plListSearch>li .z-dropdown .dropdown-item a {
    padding: 10px 15px;
    display: block;
    position: relative;
}

.z-body-area #plListS>li .z-dropdown .dropdown-item a i,
.z-body-area #plListSearch>li .z-dropdown .dropdown-item a i {
    margin-right: 16px;
    display: inline-block;
    font-size: 16px;
}

.z-body-area #plListS>li .z-dropdown .dropdown-item a i.fa-angle-right,
.z-body-area #plListSearch>li .z-dropdown .dropdown-item a i.fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.z-body-area #plListS,
.z-body-area #plListSearch {
    display: block;
}

.z-body-area #plListSearch>li {
    padding: 10px 15px 10px 30px;
}

#audio0 .z-like-btn {
    position: absolute;
    top: 35px;
    right: 310px;
    font-size: 18px;
    z-index: 1000000;
}

.fa-hide {
    display: none;
}

.fa-random {
    color: white;
}

#plListSearch li {
    cursor: pointer;
}

#plListSearch>li:hover {
    background-color: rgba(239, 239, 239, .1);
    color: #ff4400;
}

.plyr__controls .plyr__controls__item.plyr__volume{
    position: relative;
}
.plyr__controls .plyr__volume input[type=range] {
    position: absolute;
    top: -70px;
    transform: rotate(-90deg);
    left: -45px;
    display: none;
}
/* .plyr__controls__item.plyr__volume:hover input[type=range] {
    display: block;
} */
